apiVersion: v1
kind: Namespace
metadata:
  name: imapfilter
  labels:
    app.kubernetes.io/part-of: imapfilter

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: imapfilter
  labels:
    app.kubernetes.io/part-of: imapfilter
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/part-of: imapfilter
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/part-of: imapfilter
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - image: quay.io/simbelmas/imapfilter:stable
        imagePullPolicy: IfNotPresent
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ['ALL']
        name: imapfilter
        volumeMounts:
        - mountPath: /app/config
          name: config
          readOnly: true
        - mountPath: /app/creds
          name: creds
          readOnly: true
      initContainers:
      - command:
        - sh
        - -e
        - -c
        - |-
          git_retries=20
          try=0
          until timeout 10 git clone --recurse-submodules ${IMAPFILTER_GIT_ARGS} ${IMAPFILTER_GIT_REPO} /tmp/git  ; do
            echo "Retry git pull after error ($try / $git_retries)"
            try=$((try+1))
            if [ $try -eq $git_retries  ]; then
              exit 1
            fi
            sleep 1
          done
          cd /tmp/git
          ./imapfilter-kube/lua-generator/generate_imapfilter_config.sh /app/config ./${IMAPFILTER_VARS_FILENAME}
        env:
        - name: GIT_SSH_COMMAND
          value: ssh -o "StrictHostKeyChecking=no" -o "UserKnownHostsFile=/dev/null" -i "/git-secrets/ssh-privatekey"
        - name: IMAPFILTER_GIT_ARGS
          valueFrom:
            configMapKeyRef:
              key: git-clone-args
              name: imapfilter-cm
              optional: true
        - name: IMAPFILTER_GIT_REPO
          valueFrom:
            configMapKeyRef:
              key: git-repo
              name: imapfilter-cm
              optional: false
        - name: IMAPFILTER_VARS_FILENAME
          valueFrom:
            configMapKeyRef:
              key: imapfilter-rules-path
              name: imapfilter-cm
              optional: false
        image: quay.io/simbelmas/toolbox:stable
        imagePullPolicy: IfNotPresent
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ['ALL']
        name: git-checkout
        volumeMounts:
        - mountPath: /app/config
          name: config
        - mountPath: /git-secrets
          name: git-secrets
          readOnly: true
      volumes:
      - name: creds
        secret:
          defaultMode: 420
          secretName: email-creds
      - name: git-secrets
        secret:
          defaultMode: 420
          secretName: git-creds
      - emptyDir: {}
        name: config
