{% if imapfilter_sleep_duration is defined %}
{% if imapfilter_sleep_duration is not number %}
	os.exit(1)
{% endif %}
sleep_period={{ imapfilter_sleep_duration }}
while true do
    dofile ("{{ imapfilter_config_dir }}/rules.lua")
    if type(sleep_period) ~= "number" then
        error("Unable to wait if parameter 'seconds' isn't a number: " .. type(sleep_period))
    end
    print("Enterinng sleep for " .. sleep_period .. "seconds")
    os.execute("sleep " .. sleep_period)
end
{% else %}

repeat
    dofile ("{{ imapfilter_config_dir }}/rules.lua")
until not account.inbox:enter_idle()
{% endif %}
os.exit(0);